<app-navbar></app-navbar>
<!-- HEADER -->
<app-header></app-header>

<div _ngcontent-wkn-c46="" class="propertyPageContainer"><div _ngcontent-wkn-c46="" class="propertyPageWrapperPrimary"><div _ngcontent-wkn-c46="" class="propertyPageWrapper"><div _ngcontent-wkn-c46="" class="mapAndRatingContainer"><app-property-reviews _ngcontent-wkn-c46="" style="float: left;" _nghost-wkn-c45="" ng-reflect-reviews="[object Object],[object Object"><div _ngcontent-wkn-c45="" class="reviewsContainer"><div _ngcontent-wkn-c45="" class="reviewsWrapper reviewActive" ng-reflect-ng-class="[object Object]"><h4 _ngcontent-wkn-c45="" class="reviewerName">Reviewer's Name </h4><div _ngcontent-wkn-c45="" class="reviewerRating">
    <span _ngcontent-wkn-c45="" class="reviewerRating-span">
    
    
    <!--bindings={
  "ng-reflect-ng-if": "false"
}--><!--bindings={
  "ng-reflect-ng-if": "false"
}--><!--bindings={
  "ng-reflect-ng-if": "false"
}--><!--bindings={
  "ng-reflect-ng-if": "false"
}--><!--bindings={
  "ng-reflect-ng-if": "false"
}--><!--bindings={
  "ng-reflect-ng-if": "false"
}-->Feedback<!--ng-container--><!--bindings={
  "ng-reflect-ng-if": "true"
}-->
</span><button _ngcontent-wkn-c45="" class="reviewerRating-button"> ? </button></div><p _ngcontent-wkn-c45="" class="actualReview"> Review </p></div><div _ngcontent-wkn-c45="" class="reviewsWrapper" ng-reflect-ng-class="[object Object]"><h4 _ngcontent-wkn-c45="" class="reviewerName">Reviewer's Name</h4><div _ngcontent-wkn-c45="" class="reviewerRating"><span _ngcontent-wkn-c45="" class="reviewerRating-span"><!--bindings={
  "ng-reflect-ng-if": "false"
}--><!--bindings={
  "ng-reflect-ng-if": "false"
}--><!--bindings={
  "ng-reflect-ng-if": "false"
}-->Good<!--ng-container--><!--bindings={
  "ng-reflect-ng-if": "true"
}--><!--bindings={
  "ng-reflect-ng-if": "false"
}--><!--bindings={
  "ng-reflect-ng-if": "false"
}--><!--bindings={
  "ng-reflect-ng-if": "false"
}--></span><button _ngcontent-wkn-c45="" class="reviewerRating-button">7.0</button></div>


<p _ngcontent-wkn-c45="" class="actualReview">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis, error. Rem odio ad consectetur deleniti fuga. Corporis eos, vero neque molestias exercitationem deserunt, atque necessitatibus culpa praesentium ad minus. Assumenda?</p></div><div _ngcontent-wkn-c45="" class="reviewsWrapper" ng-reflect-ng-class="[object Object]"><h4 _ngcontent-wkn-c45="" class="reviewerName">Abed Ghalayini</h4><div _ngcontent-wkn-c45="" class="reviewerRating"><span _ngcontent-wkn-c45="" class="reviewerRating-span">Bad<!--ng-container--><!--bindings={
  "ng-reflect-ng-if": "true"
}--><!--bindings={
  "ng-reflect-ng-if": "false"
}--><!--bindings={
  "ng-reflect-ng-if": "false"
}--><!--bindings={
  "ng-reflect-ng-if": "false"
}--><!--bindings={
  "ng-reflect-ng-if": "false"
}--><!--bindings={
  "ng-reflect-ng-if": "false"
}--><!--bindings={
  "ng-reflect-ng-if": "false"
}--></span><button _ngcontent-wkn-c45="" class="reviewerRating-button">?</button></div><p _ngcontent-wkn-c45="" class="actualReview"> Review </p></div><!--bindings={
  "ng-reflect-ng-for-of": "[object Object],[object Object"
}--><button _ngcontent-wkn-c45="" class="btn-slider btn-prev"><i _ngcontent-wkn-c45="" class="fa-solid fa-arrow-left icon-slider icon-slider-prev"></i></button><button _ngcontent-wkn-c45="" class="btn-slider btn-next"><i _ngcontent-wkn-c45="" class="fa-solid fa-arrow-right icon-slider icon-slider-next"></i></button></div></app-property-reviews>

<div class="wrapper">
  <div class="file-upload">
    <input type="file" />
    <i class="fa fa-arrow-up"></i>
  </div>
</div>


</div>

<div _ngcontent-wkn-c46="" class="dormsAndDescriptionContainer">
  <div _ngcontent-wkn-c46="" class="ratingAndStarIndex">
  
  
  <div _ngcontent-wkn-c46="">
  
  <label for="name"> Name of the dorm:</label>
  <input type="text" id="name" name="name" required minlength="3" maxlength="20" size="40" />
  
  
  
</div>
<label for="name"> Rating: </label>

<input type="text" id="name" name="name" required minlength="3" maxlength="20" size="20" />


</div><app-carousel _ngcontent-wkn-c46="" _nghost-wkn-c44="" ng-reflect-images="[object Object],[object Object">



</app-carousel></div></div>

<div class="propertyDescDormsWrapper">

  <h2> Criteria: </h2>

</div>

<div class="select">

  <select name="pets" id="pet-select">
    <option value="">-- Allow vistors? --</option>
    <option value="dog">Yes</option>
    <option value="cat">No</option>
  </select>

  <select name="pets" id="pet-select">
    <option value="">-- Quiet hours range?  --</option>
    <option value="dog"> Before 9AM</option>
    <option value="cat">9AM to 12PM</option>
    <option value="hamster">12PM to 3 PM</option>
    <option value="parrot">3PM to 6PM</option>
    <option value="spider">6PM to 9PM</option>
    <option value="goldfish">After 9PM</option>
  </select>

  <select name="pets" id="pet-select">
    <option value="">-- Allow pets? --</option>
    <option value="dog">Yes</option>
    <option value="cat">No</option>
  </select>

  <select name="pets" id="pet-select">
    <option value="">-- Gender --</option>
    <option value="dog"> Males only</option>
    <option value="cat"> Females only</option>
    <option value="hamster"> Both </option>
  </select>

</div>


<div _ngcontent-wkn-c46="" class="propertyDescDormsWrapper">
  <h2> Description: </h2>
  <p _ngcontent-wkn-c46="">______________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________</p>
  
  <p _ngcontent-wkn-c46="">______________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________</p>

  <p _ngcontent-wkn-c46="">______________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________</p>

  <p _ngcontent-wkn-c46="">______________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________</p>

  <p _ngcontent-wkn-c46="">______________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________</p>

  <p _ngcontent-wkn-c46="">______________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________</p>

  <p _ngcontent-wkn-c46="">______________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________</p>
  
  <p _ngcontent-wkn-c46="">______________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________</p></div>

  <div class="propertyDescDormsWrapper">

    <h2> Popular Features: </h2>
  
  </div>
  
  <div class="select">
  
    <select name="pets" id="pet-select">
      <option value="">-- HouseKeeping? --</option>
      <option value="dog">Yes</option>
      <option value="cat">No</option>
    </select>
  
    <select name="pets" id="pet-select">
      <option value="">-- Parking? --</option>
      <option value="dog">Yes</option>
      <option value="cat">No</option>
    </select>
  
    <select name="pets" id="pet-select">
      <option value="">-- Smoking Area? --</option>
      <option value="dog">Yes</option>
      <option value="cat">No</option>
    </select>
  
    <select name="pets" id="pet-select">
      <option value="">-- Wifi --</option>
      <option value="dog">Yes</option>
      <option value="cat">No</option>
    </select>

    <select name="pets" id="pet-select">
      <option value="">-- Breakfast? --</option>
      <option value="dog">Yes</option>
      <option value="cat">No</option>
    </select>

    <select name="pets" id="pet-select">
      <option value="">-- Shared Kitchen? --</option>
      <option value="dog">Yes</option>
      <option value="cat">No</option>
    </select>

    <select name="pets" id="pet-select">
      <option value="">-- Air Conditiong? --</option>
      <option value="dog">Yes</option>
      <option value="cat">No</option>
    </select>

    <select name="pets" id="pet-select">
      <option value="">-- 24h Electricity? --</option>
      <option value="dog">Yes</option>
      <option value="cat">No</option>
    </select>
  
  </div>


  <div _ngcontent-uwm-c47="" class="roomsContainer">
  
    <h3 _ngcontent-uwm-c47="" class="roomsContainer__Title"> Insert your Dorm</h3>
    
    <app-dorms-room _ngcontent-uwm-c47="" _nghost-uwm-c46="">
      <div _ngcontent-uwm-c46="" class="roomWrapper">
        <img _ngcontent-uwm-c46="" src="./Propertypage-dorm-room selection_files/blank image.png" class="room__img">
        
        <div class="box">
          <input type="file" id="file-input"/>
        </div>
        <!-- leftbox -->
        <div class="box-2">
          <div class="result"></div>
        </div>
        <!--rightbox-->
        <div class="box-2 img-result hide">
          <!-- result of crop -->
          <img class="cropped" src="" alt="">
        </div>


        <h5 _ngcontent-uwm-c46="" class="room__Title"> Single Room</h5>
        
        <p _ngcontent-uwm-c46="" class="room__detail"> Capacity</p>
        <select name="pets" id="pet-select">
          <option value="">-- Choose an option --</option>
          <option value="dog">1</option>
          <option value="cat">2</option>
          <option value="cat">3</option>
        </select>
        <p _ngcontent-uwm-c46="" class="room__detail"> Beds</p>
        <select name="pets" id="pet-select">
          <option value="">-- Choose an option --</option>
          <option value="dog">Single Bed</option>
          <option value="cat">Double Bed</option>
          <option value="cat">Triple Bed</option>
        </select>
        <p _ngcontent-uwm-c46="" class="room__detail"> Price /month</p>
        <input type="number" id="tentacles" name="tentacles" min="5" max="2000" />
        
        <p _ngcontent-uwm-c46="" class="room__detail">25 m² </p>
        <input type="number" id="tentacles" name="tentacles" min="5" max="2000" />

        <div _ngcontent-uwm-c46="" class="room__Amenties">
          <h5 _ngcontent-uwm-c46="" class="room__Amenties-Title"> Amenties</h5>
          
          <p _ngcontent-uwm-c46="" class="room__Amenties-item"> TV? </p>
          <select name="pets" id="pet-select">
            <option value="">-- Choose an option --</option>
            <option value="dog">Yes</option>
            <option value="cat">No</option>
          </select>
          
          <p _ngcontent-uwm-c46="" class="room__Amenties-item"> Window? </p>
          <select name="pets" id="pet-select">
            <option value="">-- Choose an option --</option>
            <option value="dog">Yes</option>
            <option value="cat">No</option>
          </select>
          
          <p _ngcontent-uwm-c46="" class="room__Amenties-item"> Balcony? </p>
          <select name="pets" id="pet-select">
            <option value="">-- Choose an option --</option>
            <option value="dog">Yes</option>
            <option value="cat">No</option>
          </select>

          <p _ngcontent-uwm-c46="" class="room__Amenties-item"> Clothes Iron? </p>
          <select name="pets" id="pet-select">
            <option value="">-- Choose an option --</option>
            <option value="dog">Yes</option>
            <option value="cat">No</option>
          </select>
        
        </div>
          <div _ngcontent-uwm-c46="" class="room__Summary">
            <div _ngcontent-uwm-c46="" class="room__Summary__price">
              <h5 _ngcontent-uwm-c46="" class="room__Summary__price-Title"> Price Summary</h5>
              <p _ngcontent-uwm-c46="" class="room__Amenties-item"> From - Till </p>
              <input type="number" id="tentacles" name="tentacles" min="5" max="2000" />
              <p _ngcontent-uwm-c46="" class="room__Amenties-item"> Taxes of Fees? </p>
              <input type="number" id="tentacles" name="tentacles" min="5" max="2000" /></div>
              <div _ngcontent-uwm-c46="" class="room__Summary__BookingBtns">
                <button _ngcontent-uwm-c46="" class="room__Summary__BookingBtns-btn">Share it with a partner</button>
                <button _ngcontent-uwm-c46="" class="room__Summary__BookingBtns-btn">Book now</button></div>
              </div>
            </div>
          </app-dorms-room>


          <app-dorms-room _ngcontent-uwm-c47="" _nghost-uwm-c46="">
            <div _ngcontent-uwm-c46="" class="roomWrapper">
              <img _ngcontent-uwm-c46="" src="./Propertypage-dorm-room selection_files/blank image.png" class="room__img">
              
              <div class="box">
                <input type="file" id="file-input"/>
              </div>
              <!-- leftbox -->
              <div class="box-2">
                <div class="result"></div>
              </div>
              <!--rightbox-->
              <div class="box-2 img-result hide">
                <!-- result of crop -->
                <img class="cropped" src="" alt="">
              </div>
      
      
              <h5 _ngcontent-uwm-c46="" class="room__Title"> Single Room</h5>
              
              <p _ngcontent-uwm-c46="" class="room__detail"> Capacity</p>
              <select name="pets" id="pet-select">
                <option value="">-- Choose an option --</option>
                <option value="dog">1</option>
                <option value="cat">2</option>
                <option value="cat">3</option>
              </select>
              <p _ngcontent-uwm-c46="" class="room__detail"> Beds</p>
              <select name="pets" id="pet-select">
                <option value="">-- Choose an option --</option>
                <option value="dog">Single Bed</option>
                <option value="cat">Double Bed</option>
                <option value="cat">Triple Bed</option>
              </select>
              <p _ngcontent-uwm-c46="" class="room__detail"> Price /month</p>
              <input type="number" id="tentacles" name="tentacles" min="5" max="2000" />
              
              <p _ngcontent-uwm-c46="" class="room__detail">25 m² </p>
              <input type="number" id="tentacles" name="tentacles" min="5" max="2000" />
      
              <div _ngcontent-uwm-c46="" class="room__Amenties">
                <h5 _ngcontent-uwm-c46="" class="room__Amenties-Title"> Amenties</h5>
                
                <p _ngcontent-uwm-c46="" class="room__Amenties-item"> TV? </p>
                <select name="pets" id="pet-select">
                  <option value="">-- Choose an option --</option>
                  <option value="dog">Yes</option>
                  <option value="cat">No</option>
                </select>
                
                <p _ngcontent-uwm-c46="" class="room__Amenties-item"> Window? </p>
                <select name="pets" id="pet-select">
                  <option value="">-- Choose an option --</option>
                  <option value="dog">Yes</option>
                  <option value="cat">No</option>
                </select>
                
                <p _ngcontent-uwm-c46="" class="room__Amenties-item"> Balcony? </p>
                <select name="pets" id="pet-select">
                  <option value="">-- Choose an option --</option>
                  <option value="dog">Yes</option>
                  <option value="cat">No</option>
                </select>
      
                <p _ngcontent-uwm-c46="" class="room__Amenties-item"> Clothes Iron? </p>
                <select name="pets" id="pet-select">
                  <option value="">-- Choose an option --</option>
                  <option value="dog">Yes</option>
                  <option value="cat">No</option>
                </select>
              
              </div>
                <div _ngcontent-uwm-c46="" class="room__Summary">
                  <div _ngcontent-uwm-c46="" class="room__Summary__price">
                    <h5 _ngcontent-uwm-c46="" class="room__Summary__price-Title"> Price Summary</h5>
                    <p _ngcontent-uwm-c46="" class="room__Amenties-item"> From - Till </p>
                    <input type="number" id="tentacles" name="tentacles" min="5" max="2000" />
                    <p _ngcontent-uwm-c46="" class="room__Amenties-item"> Taxes of Fees? </p>
                    <input type="number" id="tentacles" name="tentacles" min="5" max="2000" /></div>
                    <div _ngcontent-uwm-c46="" class="room__Summary__BookingBtns">
                      <button _ngcontent-uwm-c46="" class="room__Summary__BookingBtns-btn">Share it with a partner</button>
                      <button _ngcontent-uwm-c46="" class="room__Summary__BookingBtns-btn">Book now</button></div>
                    </div>
                  </div>
                </app-dorms-room>



                <app-dorms-room _ngcontent-uwm-c47="" _nghost-uwm-c46="">
                  <div _ngcontent-uwm-c46="" class="roomWrapper">
                    <img _ngcontent-uwm-c46="" src="./Propertypage-dorm-room selection_files/blank image.png" class="room__img">
                    
                    <div class="box">
                      <input type="file" id="file-input"/>
                    </div>
                    <!-- leftbox -->
                    <div class="box-2">
                      <div class="result"></div>
                    </div>
                    <!--rightbox-->
                    <div class="box-2 img-result hide">
                      <!-- result of crop -->
                      <img class="cropped" src="" alt="">
                    </div>
            
            
                    <h5 _ngcontent-uwm-c46="" class="room__Title"> Room Editing </h5>
                    
                    <p _ngcontent-uwm-c46="" class="room__detail"> Capacity</p>
                    <select name="pets" id="pet-select">
                      <option value="">-- Choose an option --</option>
                      <option value="dog">1</option>
                      <option value="cat">2</option>
                      <option value="cat">3</option>
                    </select>
                    <p _ngcontent-uwm-c46="" class="room__detail"> Beds</p>
                    <select name="pets" id="pet-select">
                      <option value="">-- Choose an option --</option>
                      <option value="dog">Single Bed</option>
                      <option value="cat">Double Bed</option>
                      <option value="cat">Triple Bed</option>
                    </select>
                    <p _ngcontent-uwm-c46="" class="room__detail"> Price /month</p>
                    <input type="number" id="tentacles" name="tentacles" min="5" max="2000" />
                    
                    <p _ngcontent-uwm-c46="" class="room__detail">25 m² </p>
                    <input type="number" id="tentacles" name="tentacles" min="5" max="2000" />
            
                    <div _ngcontent-uwm-c46="" class="room__Amenties">
                      <h5 _ngcontent-uwm-c46="" class="room__Amenties-Title"> Amenties</h5>
                      
                      <p _ngcontent-uwm-c46="" class="room__Amenties-item"> TV? </p>
                      <select name="pets" id="pet-select">
                        <option value="">-- Choose an option --</option>
                        <option value="dog">Yes</option>
                        <option value="cat">No</option>
                      </select>
                      
                      <p _ngcontent-uwm-c46="" class="room__Amenties-item"> Window? </p>
                      <select name="pets" id="pet-select">
                        <option value="">-- Choose an option --</option>
                        <option value="dog">Yes</option>
                        <option value="cat">No</option>
                      </select>
                      
                      <p _ngcontent-uwm-c46="" class="room__Amenties-item"> Balcony? </p>
                      <select name="pets" id="pet-select">
                        <option value="">-- Choose an option --</option>
                        <option value="dog">Yes</option>
                        <option value="cat">No</option>
                      </select>
            
                      <p _ngcontent-uwm-c46="" class="room__Amenties-item"> Clothes Iron? </p>
                      <select name="pets" id="pet-select">
                        <option value="">-- Choose an option --</option>
                        <option value="dog">Yes</option>
                        <option value="cat">No</option>
                      </select>
                    
                    </div>
                      <div _ngcontent-uwm-c46="" class="room__Summary">
                        <div _ngcontent-uwm-c46="" class="room__Summary__price">
                          <h5 _ngcontent-uwm-c46="" class="room__Summary__price-Title"> Price Summary</h5>
                          <p _ngcontent-uwm-c46="" class="room__Amenties-item"> From - Till </p>
                          <input type="number" id="tentacles" name="tentacles" min="5" max="2000" />
                          <p _ngcontent-uwm-c46="" class="room__Amenties-item"> Taxes of Fees? </p>
                          <input type="number" id="tentacles" name="tentacles" min="5" max="2000" /></div>
                          <div _ngcontent-uwm-c46="" class="room__Summary__BookingBtns">
                            <button _ngcontent-uwm-c46="" class="room__Summary__BookingBtns-btn">Share it with a partner</button>
                            <button _ngcontent-uwm-c46="" class="room__Summary__BookingBtns-btn">Book now</button></div>
                          </div>
                        </div>
                      </app-dorms-room>


                      <app-dorms-room _ngcontent-uwm-c47="" _nghost-uwm-c46="">
                        <div _ngcontent-uwm-c46="" class="roomWrapper">
                          <img _ngcontent-uwm-c46="" src="./Propertypage-dorm-room selection_files/blank image.png" class="room__img">
                          
                          <div class="box">
                            <input type="file" id="file-input"/>
                          </div>
                          <!-- leftbox -->
                          <div class="box-2">
                            <div class="result"></div>
                          </div>
                          <!--rightbox-->
                          <div class="box-2 img-result hide">
                            <!-- result of crop -->
                            <img class="cropped" src="" alt="">
                          </div>
                  
                  
                          <h5 _ngcontent-uwm-c46="" class="room__Title"> Room Editing </h5>
                          
                          <p _ngcontent-uwm-c46="" class="room__detail"> Capacity</p>
                          <select name="pets" id="pet-select">
                            <option value="">-- Choose an option --</option>
                            <option value="dog">1</option>
                            <option value="cat">2</option>
                            <option value="cat">3</option>
                          </select>
                          <p _ngcontent-uwm-c46="" class="room__detail"> Beds</p>
                          <select name="pets" id="pet-select">
                            <option value="">-- Choose an option --</option>
                            <option value="dog">Single Bed</option>
                            <option value="cat">Double Bed</option>
                            <option value="cat">Triple Bed</option>
                          </select>
                          <p _ngcontent-uwm-c46="" class="room__detail"> Price /month</p>
                          <input type="number" id="tentacles" name="tentacles" min="5" max="2000" />
                          
                          <p _ngcontent-uwm-c46="" class="room__detail">25 m² </p>
                          <input type="number" id="tentacles" name="tentacles" min="5" max="2000" />
                  
                          <div _ngcontent-uwm-c46="" class="room__Amenties">
                            <h5 _ngcontent-uwm-c46="" class="room__Amenties-Title"> Amenties</h5>
                            
                            <p _ngcontent-uwm-c46="" class="room__Amenties-item"> TV? </p>
                            <select name="pets" id="pet-select">
                              <option value="">-- Choose an option --</option>
                              <option value="dog">Yes</option>
                              <option value="cat">No</option>
                            </select>
                            
                            <p _ngcontent-uwm-c46="" class="room__Amenties-item"> Window? </p>
                            <select name="pets" id="pet-select">
                              <option value="">-- Choose an option --</option>
                              <option value="dog">Yes</option>
                              <option value="cat">No</option>
                            </select>
                            
                            <p _ngcontent-uwm-c46="" class="room__Amenties-item"> Balcony? </p>
                            <select name="pets" id="pet-select">
                              <option value="">-- Choose an option --</option>
                              <option value="dog">Yes</option>
                              <option value="cat">No</option>
                            </select>
                  
                            <p _ngcontent-uwm-c46="" class="room__Amenties-item"> Clothes Iron? </p>
                            <select name="pets" id="pet-select">
                              <option value="">-- Choose an option --</option>
                              <option value="dog">Yes</option>
                              <option value="cat">No</option>
                            </select>
                          
                          </div>
                            <div _ngcontent-uwm-c46="" class="room__Summary">
                              <div _ngcontent-uwm-c46="" class="room__Summary__price">
                                <h5 _ngcontent-uwm-c46="" class="room__Summary__price-Title"> Price Summary</h5>
                                <p _ngcontent-uwm-c46="" class="room__Amenties-item"> From - Till </p>
                                <input type="number" id="tentacles" name="tentacles" min="5" max="2000" />
                                <p _ngcontent-uwm-c46="" class="room__Amenties-item"> Taxes of Fees? </p>
                                <input type="number" id="tentacles" name="tentacles" min="5" max="2000" /></div>
                                <div _ngcontent-uwm-c46="" class="room__Summary__BookingBtns">
                                  <button _ngcontent-uwm-c46="" class="room__Summary__BookingBtns-btn">Share it with a partner</button>
                                  <button _ngcontent-uwm-c46="" class="room__Summary__BookingBtns-btn">Book now</button></div>
                                </div>
                              </div>
                            </app-dorms-room>

                            <app-dorms-room _ngcontent-uwm-c47="" _nghost-uwm-c46="">
                              <div _ngcontent-uwm-c46="" class="roomWrapper">
                                <img _ngcontent-uwm-c46="" src="./Propertypage-dorm-room selection_files/blank image.png" class="room__img">
                                
                                <div class="box">
                                  <input type="file" id="file-input"/>
                                </div>
                                <!-- leftbox -->
                                <div class="box-2">
                                  <div class="result"></div>
                                </div>
                                <!--rightbox-->
                                <div class="box-2 img-result hide">
                                  <!-- result of crop -->
                                  <img class="cropped" src="" alt="">
                                </div>
                        
                        
                                <h5 _ngcontent-uwm-c46="" class="room__Title"> Room Editing </h5>
                                
                                <p _ngcontent-uwm-c46="" class="room__detail"> Capacity</p>
                                <select name="pets" id="pet-select">
                                  <option value="">-- Choose an option --</option>
                                  <option value="dog">1</option>
                                  <option value="cat">2</option>
                                  <option value="cat">3</option>
                                </select>
                                <p _ngcontent-uwm-c46="" class="room__detail"> Beds</p>
                                <select name="pets" id="pet-select">
                                  <option value="">-- Choose an option --</option>
                                  <option value="dog">Single Bed</option>
                                  <option value="cat">Double Bed</option>
                                  <option value="cat">Triple Bed</option>
                                </select>
                                <p _ngcontent-uwm-c46="" class="room__detail"> Price /month</p>
                                <input type="number" id="tentacles" name="tentacles" min="5" max="2000" />
                                
                                <p _ngcontent-uwm-c46="" class="room__detail">25 m² </p>
                                <input type="number" id="tentacles" name="tentacles" min="5" max="2000" />
                        
                                <div _ngcontent-uwm-c46="" class="room__Amenties">
                                  <h5 _ngcontent-uwm-c46="" class="room__Amenties-Title"> Amenties</h5>
                                  
                                  <p _ngcontent-uwm-c46="" class="room__Amenties-item"> TV? </p>
                                  <select name="pets" id="pet-select">
                                    <option value="">-- Choose an option --</option>
                                    <option value="dog">Yes</option>
                                    <option value="cat">No</option>
                                  </select>
                                  
                                  <p _ngcontent-uwm-c46="" class="room__Amenties-item"> Window? </p>
                                  <select name="pets" id="pet-select">
                                    <option value="">-- Choose an option --</option>
                                    <option value="dog">Yes</option>
                                    <option value="cat">No</option>
                                  </select>
                                  
                                  <p _ngcontent-uwm-c46="" class="room__Amenties-item"> Balcony? </p>
                                  <select name="pets" id="pet-select">
                                    <option value="">-- Choose an option --</option>
                                    <option value="dog">Yes</option>
                                    <option value="cat">No</option>
                                  </select>
                        
                                  <p _ngcontent-uwm-c46="" class="room__Amenties-item"> Clothes Iron? </p>
                                  <select name="pets" id="pet-select">
                                    <option value="">-- Choose an option --</option>
                                    <option value="dog">Yes</option>
                                    <option value="cat">No</option>
                                  </select>
                                
                                </div>
                                  <div _ngcontent-uwm-c46="" class="room__Summary">
                                    <div _ngcontent-uwm-c46="" class="room__Summary__price">
                                      <h5 _ngcontent-uwm-c46="" class="room__Summary__price-Title"> Price Summary</h5>
                                      <p _ngcontent-uwm-c46="" class="room__Amenties-item"> From - Till </p>
                                      <input type="number" id="tentacles" name="tentacles" min="5" max="2000" />
                                      <p _ngcontent-uwm-c46="" class="room__Amenties-item"> Taxes of Fees? </p>
                                      <input type="number" id="tentacles" name="tentacles" min="5" max="2000" /></div>
                                      <div _ngcontent-uwm-c46="" class="room__Summary__BookingBtns">
                                        <button _ngcontent-uwm-c46="" class="room__Summary__BookingBtns-btn">Share it with a partner</button>
                                        <button _ngcontent-uwm-c46="" class="room__Summary__BookingBtns-btn">Book now</button></div>
                                      </div>
                                    </div>
                                  </app-dorms-room>

                                  <app-dorms-room _ngcontent-uwm-c47="" _nghost-uwm-c46="">
                                    <div _ngcontent-uwm-c46="" class="roomWrapper">
                                      <img _ngcontent-uwm-c46="" src="./Propertypage-dorm-room selection_files/blank image.png" class="room__img">
                                      
                                      <div class="box">
                                        <input type="file" id="file-input"/>
                                      </div>
                                      <!-- leftbox -->
                                      <div class="box-2">
                                        <div class="result"></div>
                                      </div>
                                      <!--rightbox-->
                                      <div class="box-2 img-result hide">
                                        <!-- result of crop -->
                                        <img class="cropped" src="" alt="">
                                      </div>
                              
                              
                                      <h5 _ngcontent-uwm-c46="" class="room__Title"> Room Editing</h5>
                                      
                                      <p _ngcontent-uwm-c46="" class="room__detail"> Capacity</p>
                                      <select name="pets" id="pet-select">
                                        <option value="">-- Choose an option --</option>
                                        <option value="dog">1</option>
                                        <option value="cat">2</option>
                                        <option value="cat">3</option>
                                      </select>
                                      <p _ngcontent-uwm-c46="" class="room__detail"> Beds</p>
                                      <select name="pets" id="pet-select">
                                        <option value="">-- Choose an option --</option>
                                        <option value="dog">Single Bed</option>
                                        <option value="cat">Double Bed</option>
                                        <option value="cat">Triple Bed</option>
                                      </select>
                                      <p _ngcontent-uwm-c46="" class="room__detail"> Price /month</p>
                                      <input type="number" id="tentacles" name="tentacles" min="5" max="2000" />
                                      
                                      <p _ngcontent-uwm-c46="" class="room__detail">25 m² </p>
                                      <input type="number" id="tentacles" name="tentacles" min="5" max="2000" />
                              
                                      <div _ngcontent-uwm-c46="" class="room__Amenties">
                                        <h5 _ngcontent-uwm-c46="" class="room__Amenties-Title"> Amenties</h5>
                                        
                                        <p _ngcontent-uwm-c46="" class="room__Amenties-item"> TV? </p>
                                        <select name="pets" id="pet-select">
                                          <option value="">-- Choose an option --</option>
                                          <option value="dog">Yes</option>
                                          <option value="cat">No</option>
                                        </select>
                                        
                                        <p _ngcontent-uwm-c46="" class="room__Amenties-item"> Window? </p>
                                        <select name="pets" id="pet-select">
                                          <option value="">-- Choose an option --</option>
                                          <option value="dog">Yes</option>
                                          <option value="cat">No</option>
                                        </select>
                                        
                                        <p _ngcontent-uwm-c46="" class="room__Amenties-item"> Balcony? </p>
                                        <select name="pets" id="pet-select">
                                          <option value="">-- Choose an option --</option>
                                          <option value="dog">Yes</option>
                                          <option value="cat">No</option>
                                        </select>
                              
                                        <p _ngcontent-uwm-c46="" class="room__Amenties-item"> Clothes Iron? </p>
                                        <select name="pets" id="pet-select">
                                          <option value="">-- Choose an option --</option>
                                          <option value="dog">Yes</option>
                                          <option value="cat">No</option>
                                        </select>
                                      
                                      </div>
                                        <div _ngcontent-uwm-c46="" class="room__Summary">
                                          <div _ngcontent-uwm-c46="" class="room__Summary__price">
                                            <h5 _ngcontent-uwm-c46="" class="room__Summary__price-Title"> Price Summary</h5>
                                            <p _ngcontent-uwm-c46="" class="room__Amenties-item"> From - Till </p>
                                            <input type="number" id="tentacles" name="tentacles" min="5" max="2000" />
                                            <p _ngcontent-uwm-c46="" class="room__Amenties-item"> Taxes of Fees? </p>
                                            <input type="number" id="tentacles" name="tentacles" min="5" max="2000" /></div>
                                            <div _ngcontent-uwm-c46="" class="room__Summary__BookingBtns">
                                              <button _ngcontent-uwm-c46="" class="room__Summary__BookingBtns-btn">Share it with a partner</button>
                                              <button _ngcontent-uwm-c46="" class="room__Summary__BookingBtns-btn">Book now</button></div>
                                            </div>
                                          </div>
                                        </app-dorms-room>
  </div>




</div></div>